#result {
  display: none;
}

.jumbotron {
  text-align: center;
  color: white;
  text-shadow: black 0.1cm 0.1cm 0.1cm;
  font-family: serif;
  text-align: left;
}

.jumbotron:hover {
  background-color: #33A8FF
}

#formOne {
  color: white;
  font-family: serif;
}
